:root {
    --blanco: #ffffff;
    --gris:#E6E6E6;
    --fucsia: #f34070;
    --fucsiaoscuro: #e71752 ;
    --amarillo: #d7f205;
    --naranja: #f29441;
    --naranjaoscuro: #eb6e01;
    --rosa: #f24b4b;

}
/* ------------- */
/* GLOBAL STYLES */
/* ------------- */

* {
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

ul {
  list-style: none;
  padding: 0;
}

.brand {
  text-align: center;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.brand span {
  color: var(--blanco);
}

.wrapper {
  box-shadow: 0 0 20px 0 var(--fucsiaoscuro);
}

.wrapper > * {
  padding: 1em;
}

/* ------------------- */
/* COMPANY INFORMATION */
/* ------------------- */

.informacion {
  background: var(--naranjaoscuro);

  background-repeat: no-repeat;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.informacion h3,
.informacion ul {
  text-align: center;
  color: var(--blanco);
}

/* ------- */
/* CONTACT */
/* ------- */

.contact {
  background: var(--naranja);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* ---- */
/* FORM */
/* ---- */

.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact form label {
  display: block;
}

.contact form p {
  margin: 0;
}

.contact form .full {
  grid-column: 1 / 3;
}

.contact form button,
.contact form input,
.contact form textarea {
  width: 100%;
  padding: 1em;
  border: solid 1px var(--fucsiaoscuro);
  border-radius: 4px;
}

.contact form textarea {
  resize: none;
}

.contact form button {
  background: var(--fucsia);
  border: 0;
  color: var(--blanco);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.contact form button:hover,
.contact form button:focus {
  background: var(--fucsiaoscuro);
  color: var(--blanco);
  outline: 0;
  transition: background-color 2s ease-out;
}
.informacion-resaltada h3{
  padding: 10px;
}
/* ------------- */
/* MEDIA QUERIES */
/* ------------- */

@media only screen and (min-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper > * {
    padding: 2em;
  }

  .informacion {
    border-radius: 4px 0 0 4px;
  }

  .contact {
    border-radius: 0 4px 4px 0;
  }

  .informacion h3,
  .informacion ul,
  .brand {
    text-align: left;
  }
}